body {
}

/*class Styles*/
.jumbotron {
	background-image: url(img/kapokbg.jpg);
	background-size: cover;
	align-content: center;
	display: flex;
	min-height: 650px;
}


.jumbotron p {
	
	text-align: center;
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 12%;
}

footer .col-sm-12{
	list-style: none;
	display: flex;
	justify-content: center;
	padding-bottom: 1%;
}

/*Typography*/

header .col-sm-12{
	text-align: center;
	padding: 1%;
	margin: auto;
	font-size: 800%;	
}


p {
	text-align: center;
}

/*Link styles*/

.btn.btn-primary {
	border: none;
	padding: 2%;
	font-size: 200%;
	margin: 2%;
	background-color: #77aa8c;
	
}

.btn.btn-primary:hover {
  color: #69787f;
  background-color: #fcf1e8;
}