body {
}

/*Div Styles*/


/*Typography*/
h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*Link styles*/

